.dashboard {
  background-color: white;
}

.zebraB,
.zebraA {
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 1rem;
  border-radius: 9px;
}
.zebraB {
  background-color: #841e191a;
}

.zebraA {
  background-color: #0000ff0d;
}
