.setores {
}

.unidades {
  min-width: 10rem;
}
.headUni {
  padding: 0.5rem;
  background-color: #841e19;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.unidades .headUni span.ttl {
  font-size: initial;
  color: white;
}
.unidades .headUni span.vinculo {
  float: right;
  color: white;
  cursor: pointer;
}
.bodyUni {
  border-left: 0.5px solid #841e19;
  border-right: 0.5px solid#841e19;
  border-bottom: 0.5px solid #841e19;
  padding: 5px;
  background-color: #ffeae9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bodyUni .btn {
  margin: 0;
}

.bodyUni .btn-danger {
  float: right;
}
